<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #edf2f7;">
<!-- Container -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color: #edf2f7; padding: 30px 0;">
    <tr>
        <td align="center">
            <table width="600px" border="0" cellspacing="0" cellpadding="0" style="background-color: #ffffff; border-radius: 10px; text-align: center; padding: 20px; box-sizing: border-box;">
                <!-- Logo -->
                <tr>
                    <td style="padding: 20px 0;">
                        <img src="https://res.cloudinary.com/djcjacjfq/image/upload/v1769853850/logo2_eyv8ko.png" alt="Logo" width="100" height="100" style="display: block; margin: 0 auto;">
                    </td>
                </tr>
                <!-- Title -->
                <tr>
                    <td>
                        <h3 style="color: #3d4852; font-size: 22px; font-weight: bold; margin: 10px 0;">
                          Academy Account Verification
                        </h3>
                    </td>
                </tr>
                <!-- Instructions -->
                <tr>
                    <td style="color: #3d4852; font-size: 16px; line-height: 1.6; padding: 10px 0;">
                        Use this code to sign up to Transmit Security.<br>
                        This code will expire in 120 seconds.
                    </td>
                </tr>
                <!-- OTP Code -->
                <tr>
                    <td align="center" style="padding: 20px 0;">
                        <div th:text="${otp}" style="background-color: #edf2f7; color: #718096; border-radius: 4px; display: inline-block; padding: 16px 32px; letter-spacing: 10px; font-size: 24px; font-weight: bold;">

                        </div>
                    </td>
                </tr>
                <!-- Support Info -->
                <tr>
                    <td style="color: #3d4852; font-size: 14px; line-height: 1.6; padding: 10px 0;">
                        If you have any questions, please contact us via email:
                        <a href="mailto:hoanglv00256@gmail.com" style="color: blue; text-decoration: none;">hoanglv00256@gmail.com</a>
                    </td>
                </tr>
                <!-- Footer -->
                <tr>
                    <td style="color: #3d4852; font-size: 14px; padding: 10px 0;">
                        Best regards, <br>
                        <a href="http://localhost:3000/" style="color: blue; text-decoration: none;"> Academy</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
