.modalLogAndRegis{
}
.modalLogAndRegis .modal-dialog{

    height: 90vh !important;
    overflow-y: auto;
    border-radius: 12px;

}
.modalLogAndRegis .modal-content{
    border-radius: 12px;
}

.formLogin_layout{
    display: flex;
    align-items: center;
}
.btn_primary{
    background-color: #ca16c1;
    border: none;
    border-radius: 24px;
    transition: 0.2s;
    width: 100%;
    margin: auto;
    height: 48px;
    margin-top: 12px;
    font-size: 1.6rem;
}
.btn_primary:hover{
    opacity: 0.8;
    background-color: #ca16c1;
}
.btn_sencond{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: 0.2s;
    margin: auto;
    width: 100%;
    border-radius: 24px;
    margin-top: 10px;
    height: 48px;
    font-size: 1.6rem;


}
.btn_sencond:hover{
    opacity: 0.8;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.formLogin_Layout--left{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 30px 30px;
    position: relative;
}
.formLogin_Layout--left.full{
    width: 100%;

}
.formLogin_Layout--right{
    width: 30%;
    margin-left: 20px;
    display: flex;
    justify-content: start;
}
.formLogin_Layout--right img{
    width: 100%;
}

.form-login_service{
    display: flex;
    margin-bottom: 14px;
}
.login-service_item{
    margin: 0 6px;
    cursor: pointer;
}
.login_input{
    width: 100%;
   
}
.group_sendcode {
    position: relative;

}

.login_input button{
    position: absolute;
    top: 0;
    cursor: pointer;
    right: 0;
    height: 100%;
    border-radius: 28px;
    border: none;
    background-color: #ca16c1;
    min-width: 124px;
    font-size: 14px;
    color: white;

}
.login_input input {
    height: 50px;
    font-size: 16px;
    background-color: rgb(242, 241, 241);
    display: block;
    width: 100%;
    padding: 12px 42px 12px 20px;
    outline: none;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 28px;
    margin-bottom: 10px;
}

.login_input.input--error input {
    border: 3px solid #fabc6b;

}
.login_input.input--error input:focus{
    border: 3px solid #fabc6b;

}

.Toastify__toast-body > div:last-child {
    word-break: break-word;
    flex: 1 1;
    font-size: 1.4rem;
}

.login_input input:focus {
    outline: none;
    box-shadow: none; /* Bỏ shadow màu xanh khi focus */
    background-color: rgb(236, 236, 236) ;
    border: 1px solid rgb(206, 206, 206);

}

.login_input input:not(:placeholder-shown) {
    outline: none;
    background-color: rgb(236, 236, 236) ;

    box-shadow: none; /* Bỏ shadow màu xanh khi có giá trị */
}

.login_input input::placeholder{
    font-size: 14px;
}
.login_input input:focus{
    outline: none;
}
.login--remAndForgot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remember{
    display: flex;
    align-items: center;

}

.form-check-input{
    margin: 0 ;
}
.remember input{
    margin-right: 6px;
}
.remember span{
    font-size: 14px;
}
.login--remAndForgot a{
    font-size: 14px;
    color:  black;
}
.login_footer{
    width: 100%;
    margin-top: 26px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_footer button{
    width: 46%;
    margin: 0 6px;
    height: 100%;
    border-radius: 16px;
    font-weight: 500;
}
.formlogoWeb{
    width: 86px;
    height: 86px;
    border-radius: 12px;
    position: absolute;
    z-index: 0;

}
.warning{
    font-size: small;
    color: red;
    text-align:center ;
}
.form-login_title{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 12px 0 !important;
    margin-top: 74px !important;
    text-align: center;
}
.login_input label{
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0px 10px 4px;
    display: block;
}
.valuePassLevel{
    height: 6px;
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}
.valuePassLevel .level_item{
    width: 24%;
    height: 100%;
    background-color: #e1e4eb;
    border-radius: 20px;
    

}

.valuePassLevel .level_item.level_item--1{
    background-color: #d43031;
}
.valuePassLevel .level_item.level_item--2{
    background-color: #d43031;
}
.valuePassLevel .level_item.level_item--3{
    background-color: #faa61b;
}
.valuePassLevel .level_item.level_item--4{
    background-color: #02875a;
}

.BackLog{
    display: flex;
    align-items: center;
    margin-top: 28px;
}
.BackLog h3{
    font-size: 14px;
    font-weight: 500;
}
.BackLog h4{
    font-size: 14px;
    font-weight: 700;
    color: #06ccd2;
    margin-left: 4px;
    text-decoration: underline;
    cursor: pointer;
}
.forgotPass{
    font-size: 14px;
    font-weight: 700;
    color: #06ccd2;
    margin-top: 8px;
}
h6{
    margin-top: 16px;
    font-size:x-small;
}
h6 a{
    color: black;
    font-weight: 500;
}
.PassLevelInfo{
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    text-align: right;
    color: #666;
    margin: 8px 2.5% 0 0 !important;
}